#cardholder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    height: 50vh;
}
#card {
    width: 80%;
    height: 50vh;
    text-align: center;
    border: 1px solid #bababa;
    vertical-align: middle;
    line-height: 50vh;
    font-size: 4em;
    border-radius: 8px;
    background: #ffffff;
    box-shadow:  20px 20px 50px #bababa, -20px -20px 50px #ffffff;
}
#controls {
    margin:20px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#controls img {
    cursor: pointer;
}
#index_container {
    width: 100%;
    margin: 20px;
    text-align: center;
}